.suicune {
  --suicune-step1: 832px 128px #7942e8, 864px 128px #7742f1, 896px 128px #7543ee,
    1472px 128px #7844e3, 1504px 128px #7943e8, 1536px 128px #7943e7,
    768px 160px #7245ee, 800px 160px #7840f9, 832px 160px #7740f9,
    864px 160px #7540fc, 1408px 160px #7d3ff9, 1440px 160px #7940fd,
    1472px 160px #7640fb, 1504px 160px #7740f7, 1536px 160px #7541f9,
    1568px 160px #7a3dfe, 672px 192px #6c47f0, 704px 192px #7b3ff7,
    736px 192px #7741f8, 768px 192px #773ffb, 800px 192px #7540fb,
    832px 192px #783ffa, 864px 192px #7740f7, 896px 192px #7741f5,
    928px 192px #7740f7, 960px 192px #7740f8, 992px 192px #7342fc,
    1024px 192px #7c3ef5, 1280px 192px #7143f4, 1312px 192px #7640f9,
    1344px 192px #7541fa, 1376px 192px #7542f1, 1440px 192px #7740f9,
    1472px 192px #7740f7, 1504px 192px #783ff9, 1536px 192px #783ffb,
    1568px 192px #7740f8, 1600px 192px #7740f7, 1632px 192px #7740f9,
    1664px 192px #7740f7, 1696px 192px #7a3efa, 672px 224px #7044f9,
    704px 224px #7641f9, 736px 224px #7641fa, 768px 224px #7640fb,
    800px 224px #783ffb, 832px 224px #7742ee, 864px 224px #7642f1,
    896px 224px #7740f8, 928px 224px #7740f7, 960px 224px #7740f7,
    992px 224px #7740fa, 1024px 224px #7640fd, 1280px 224px #7241f8,
    1312px 224px #7540f4, 1344px 224px #743ff7, 1376px 224px #743ff9,
    1472px 224px #7741ef, 1504px 224px #7740f9, 1536px 224px #7740f9,
    1568px 224px #7740f7, 1600px 224px #7740f7, 1632px 224px #7740fa,
    1664px 224px #7740f9, 1696px 224px #7741f3, 608px 256px #7544e5,
    640px 256px #7740f8, 672px 256px #7640f9, 704px 256px #7740f9,
    736px 256px #783ff9, 768px 256px #783ffb, 800px 256px #6d49e6,
    832px 256px #7842ed, 864px 256px #7740f8, 896px 256px #7740f9,
    928px 256px #7740f9, 960px 256px #7740f9, 992px 256px #7740f9,
    1024px 256px #7740fa, 1056px 256px #7740f9, 1088px 256px #7741f3,
    1120px 256px #7245e9, 1152px 256px #6f47eb, 1184px 256px #783ff9,
    1216px 256px #7740fb, 1248px 256px #783ffc, 1280px 256px #7740f9,
    1312px 256px #7740f7, 1344px 256px #7740f9, 1376px 256px #7740f9,
    1408px 256px #7740f9, 1440px 256px #7740f9, 1472px 256px #7740f9,
    1504px 256px #7740f9, 1536px 256px #7740f9, 1568px 256px #7740f9,
    1600px 256px #7740f9, 1632px 256px #7740f9, 1664px 256px #7740f9,
    1696px 256px #7146e9, 1728px 256px #7445e9, 1760px 256px #7545ea,
    576px 288px #7543e9, 608px 288px #773efb, 640px 288px #773ef9,
    672px 288px #763ff8, 704px 288px #7740f9, 736px 288px #7643ee,
    800px 288px #7443f0, 832px 288px #7542f4, 864px 288px #7541f9,
    896px 288px #7740f9, 928px 288px #7740f9, 960px 288px #7740f9,
    992px 288px #7740f9, 1024px 288px #7740f9, 1056px 288px #7740f9,
    1088px 288px #7740f9, 1120px 288px #7740f9, 1152px 288px #783ff9,
    1184px 288px #783ff9, 1216px 288px #7740f8, 1248px 288px #7740f9,
    1280px 288px #7740f9, 1312px 288px #7740f9, 1344px 288px #7740f9,
    1376px 288px #7740f9, 1408px 288px #7740f9, 1440px 288px #7740f9,
    1472px 288px #7740f9, 1504px 288px #7740f9, 1536px 288px #7740f9,
    1568px 288px #7740f9, 1600px 288px #7740f9, 1632px 288px #7740f9,
    1664px 288px #7740f9, 1696px 288px #7740f9, 1728px 288px #7245ec,
    512px 320px #7344fb, 544px 320px #7742fb, 576px 320px #7841fb,
    608px 320px #7740f8, 640px 320px #7740f7, 672px 320px #7741f6,
    704px 320px #7641f8, 736px 320px #7344f2, 768px 320px #7541f8,
    800px 320px #7541fb, 832px 320px #7740fa, 864px 320px #7740f7,
    896px 320px #7740f9, 928px 320px #7740f9, 960px 320px #7740f9,
    992px 320px #7740f9, 1024px 320px #7740f9, 1056px 320px #7740f9,
    1088px 320px #7740f9, 1120px 320px #7740f9, 1152px 320px #7740f9,
    1184px 320px #7740f9, 1216px 320px #7740f9, 1248px 320px #7740f9,
    1280px 320px #7740f9, 1312px 320px #7740f9, 1344px 320px #7740f9,
    1376px 320px #7740f9, 1408px 320px #7740f9, 1440px 320px #7740f9,
    1472px 320px #7740f9, 1504px 320px #7740f9, 1536px 320px #7740f9,
    1568px 320px #7740f9, 1600px 320px #7641f2, 1632px 320px #7740f9,
    1664px 320px #7d3bfe, 1696px 320px #7441fa, 480px 352px #803ef9,
    512px 352px #7443fa, 544px 352px #7e3efc, 576px 352px #7841fc,
    608px 352px #7740f9, 640px 352px #7740f7, 672px 352px #7740f7,
    704px 352px #7740f7, 736px 352px #7740fa, 768px 352px #7740f9,
    800px 352px #783ff9, 832px 352px #7740f9, 864px 352px #7740f9,
    896px 352px #7740f9, 928px 352px #7740f9, 960px 352px #7740f9,
    992px 352px #7740f9, 1024px 352px #7740f9, 1056px 352px #7740f9,
    1088px 352px #7740f9, 1120px 352px #7740f9, 1152px 352px #7740f9,
    1184px 352px #7740f9, 1216px 352px #7740f9, 1248px 352px #7740f9,
    1280px 352px #7740f9, 1312px 352px #7740f9, 1344px 352px #7740f9,
    1376px 352px #7740f9, 1408px 352px #7740f9, 1440px 352px #7740f9,
    1472px 352px #7740f9, 1504px 352px #7740f9, 1536px 352px #7740f9,
    1568px 352px #7840fa, 1600px 352px #6a4be2, 1632px 352px #7643ee,
    1664px 352px #6f45f3, 480px 384px #7d40f0, 512px 384px #950005,
    544px 384px #8a1446, 576px 384px #7641fc, 608px 384px #7740f9,
    640px 384px #7740f9, 672px 384px #7740f9, 704px 384px #7740f9,
    736px 384px #7740f9, 768px 384px #7740f9, 800px 384px #7740f9,
    832px 384px #7740f9, 864px 384px #7740f9, 896px 384px #7740f9,
    928px 384px #7740f9, 960px 384px #7740f9, 992px 384px #7740f9,
    1024px 384px #7740f9, 1056px 384px #7740f9, 1088px 384px #7740f9,
    1120px 384px #7740f9, 1152px 384px #7740f9, 1184px 384px #7740f9,
    1216px 384px #7740f9, 1248px 384px #7740f9, 1280px 384px #7740f9,
    1312px 384px #7740f9, 1344px 384px #7740f9, 1376px 384px #7740f9,
    1408px 384px #7740f9, 1440px 384px #7740f9, 1472px 384px #7740f9,
    1504px 384px #7840f5, 1536px 384px #7643f0, 1568px 384px #7046ed,
    1600px 384px #6c4cdc, 448px 416px #7745ea, 480px 416px #8428a0,
    512px 416px #7e2480, 544px 416px #793ffc, 576px 416px #7941fc,
    608px 416px #7740f9, 640px 416px #7740f9, 672px 416px #7740f9,
    704px 416px #7740f9, 736px 416px #7740f9, 768px 416px #7740f9,
    800px 416px #7740f9, 832px 416px #7740f9, 864px 416px #7740f9,
    896px 416px #7740f9, 928px 416px #7740f9, 960px 416px #7740f9,
    992px 416px #7740f9, 1024px 416px #7740f9, 1056px 416px #7740f9,
    1088px 416px #7740f9, 1120px 416px #7740f9, 1152px 416px #7740f9,
    1184px 416px #7740f9, 1216px 416px #7740f9, 1248px 416px #7740f9,
    1280px 416px #7740f9, 1312px 416px #7740f9, 1344px 416px #7740f9,
    1376px 416px #7840f8, 1408px 416px #7545e7, 1440px 416px #7644e7,
    1472px 416px #7247e4, 1504px 416px #7343f4, 1536px 416px #7247de,
    416px 448px #7740f9, 448px 448px #7741f8, 480px 448px #7740f9,
    512px 448px #7740f7, 544px 448px #7740f9, 576px 448px #7740f9,
    608px 448px #7740f9, 640px 448px #7740f9, 672px 448px #7740f9,
    704px 448px #7740f9, 736px 448px #7740f9, 768px 448px #7740f9,
    800px 448px #7740f9, 832px 448px #7740f9, 864px 448px #7740f9,
    896px 448px #7740f9, 928px 448px #7740f9, 960px 448px #7740f9,
    992px 448px #7840f9, 1088px 448px #7442f6, 1120px 448px #7740fc,
    1152px 448px #7345ec, 1184px 448px #7344ed, 1216px 448px #7640f9,
    1248px 448px #7640fa, 1280px 448px #7740f9, 1312px 448px #7740fb,
    1344px 448px #7343f0, 1504px 448px #7641f8, 1536px 448px #7540fd,
    416px 480px #783ffa, 448px 480px #7740f9, 480px 480px #7740f7,
    512px 480px #7441fb, 544px 480px #7442f9, 576px 480px #7440fe,
    608px 480px #7641f9, 640px 480px #7740f9, 672px 480px #7740f9,
    704px 480px #7740f9, 736px 480px #7740f9, 768px 480px #7740f9,
    800px 480px #7740f9, 832px 480px #7740f9, 864px 480px #7740f9,
    896px 480px #7740f9, 928px 480px #7740f9, 960px 480px #7740f9,
    992px 480px #7740f9, 1024px 480px #7840f9, 1056px 480px #7642f5,
    1088px 480px #7541f8, 1152px 480px #7545e7, 1184px 480px #7541f9,
    1216px 480px #7541f9, 1248px 480px #7542f4, 1280px 480px #7740f7,
    1312px 480px #7343f6, 1504px 480px #7440f4, 1536px 480px #7541f6,
    1568px 480px #7a3efc, 448px 512px #7740f7, 480px 512px #783ffa,
    608px 512px #7045f5, 640px 512px #7640fa, 672px 512px #773ffb,
    704px 512px #7740f9, 736px 512px #7740f9, 768px 512px #7740f9,
    800px 512px #7740f9, 832px 512px #7740f9, 864px 512px #7740f9,
    896px 512px #7740f9, 928px 512px #7740f9, 960px 512px #7740f9,
    992px 512px #7740f9, 1024px 512px #7740f9, 1056px 512px #7641f8,
    1088px 512px #7741f9, 1120px 512px #7740f9, 1152px 512px #7641f8,
    1184px 512px #7740f9, 1216px 512px #7740f9, 1248px 512px #7740f9,
    1280px 512px #7740f9, 1312px 512px #7740f9, 1344px 512px #7444ed,
    1472px 512px #7642eb, 1504px 512px #7640fe, 1536px 512px #7840f8,
    1568px 512px #7540fe, 672px 544px #6b49ed, 704px 544px #7840f6,
    736px 544px #7740f9, 768px 544px #7740f9, 800px 544px #7740f9,
    832px 544px #7740f9, 864px 544px #7740f9, 896px 544px #7740f9,
    928px 544px #7740f9, 960px 544px #7740f9, 992px 544px #7740f9,
    1024px 544px #7740f9, 1056px 544px #7740f9, 1088px 544px #7740f9,
    1120px 544px #7740f9, 1152px 544px #7740f9, 1184px 544px #7740f9,
    1216px 544px #7740f9, 1248px 544px #7740f9, 1280px 544px #7740f9,
    1312px 544px #7740f9, 1344px 544px #7541f8, 1376px 544px #6c47f4,
    1440px 544px #7544ec, 1472px 544px #7443f2, 1504px 544px #7841f0,
    704px 576px #7541f8, 736px 576px #7740f7, 768px 576px #7740f9,
    800px 576px #7740f9, 832px 576px #7740f9, 864px 576px #7740f9,
    896px 576px #7740f9, 928px 576px #7740f9, 960px 576px #7740f9,
    992px 576px #7740f9, 1024px 576px #7740f9, 1056px 576px #7740f9,
    1088px 576px #7740f9, 1120px 576px #7740f9, 1152px 576px #7740f9,
    1184px 576px #7740f9, 1216px 576px #7740f9, 1248px 576px #7740f9,
    1280px 576px #7740f9, 1312px 576px #7740f9, 1344px 576px #7740f9,
    1376px 576px #7740f9, 1408px 576px #7940f5, 1440px 576px #6651d0,
    736px 608px #773efd, 768px 608px #7740f9, 800px 608px #7740f9,
    832px 608px #7740f9, 864px 608px #7740f9, 896px 608px #7740f9,
    928px 608px #7740f9, 960px 608px #7740f9, 992px 608px #7740f9,
    1024px 608px #7740f9, 1056px 608px #7740f9, 1088px 608px #7740f9,
    1120px 608px #7740f9, 1152px 608px #7740f9, 1184px 608px #7740f9,
    1216px 608px #7740f9, 1248px 608px #7740f9, 1280px 608px #7740f9,
    1312px 608px #7740f9, 1344px 608px #7740f9, 1376px 608px #7740f9,
    1408px 608px #7642f1, 736px 640px #7143fb, 768px 640px #7840f9,
    800px 640px #7740f9, 832px 640px #7740f9, 864px 640px #7740f9,
    896px 640px #7740f9, 928px 640px #7740f9, 960px 640px #7740f9,
    992px 640px #7740f9, 1024px 640px #7740f9, 1056px 640px #7740f9,
    1088px 640px #7740f9, 1120px 640px #7740f9, 1152px 640px #7740f9,
    1184px 640px #7740f9, 1216px 640px #7740f9, 1248px 640px #7740f9,
    1280px 640px #7740f9, 1312px 640px #7740f9, 1344px 640px #7740f9,
    1376px 640px #7740f9, 1408px 640px #7541f8, 1440px 640px #684ae9,
    768px 672px #6e49e3, 800px 672px #7740f9, 832px 672px #7740f9,
    864px 672px #7740f9, 896px 672px #7740f9, 928px 672px #7740f9,
    960px 672px #7740f9, 992px 672px #7740f9, 1024px 672px #7740f9,
    1056px 672px #7740f9, 1088px 672px #7740f9, 1120px 672px #7740f9,
    1152px 672px #7740f9, 1184px 672px #7740f9, 1216px 672px #7740f9,
    1248px 672px #7740f9, 1280px 672px #7740f9, 1312px 672px #7740f9,
    1344px 672px #7740f9, 1376px 672px #7740f9, 1408px 672px #7740fa,
    1440px 672px #7943e4, 768px 704px #6f4bd6, 800px 704px #7740fb,
    832px 704px #7740f9, 864px 704px #7740f9, 896px 704px #7740f9,
    928px 704px #7641f9, 960px 704px #7740f9, 992px 704px #7546e3,
    1024px 704px #7544eb, 1056px 704px #7544ea, 1088px 704px #7740f9,
    1120px 704px #7541fa, 1152px 704px #7740f9, 1184px 704px #7740f9,
    1216px 704px #7740f9, 1248px 704px #7740f9, 1280px 704px #7740f9,
    1312px 704px #7740f9, 1344px 704px #7740f9, 1376px 704px #7740f9,
    1408px 704px #793ffb, 768px 736px #7149dc, 800px 736px #7541f8,
    832px 736px #7740f9, 864px 736px #7740f9, 896px 736px #7840f9,
    928px 736px #7443f6, 1120px 736px #7642f5, 1152px 736px #7740f9,
    1184px 736px #7740f9, 1216px 736px #7740f9, 1248px 736px #7740f9,
    1280px 736px #7740f9, 1312px 736px #7740f9, 1344px 736px #7740f9,
    1376px 736px #7740f9, 640px 768px #7a3cf9, 672px 768px #7a3cf9,
    704px 768px #7b3efa, 736px 768px #7741f6, 768px 768px #7540fb,
    800px 768px #7540fb, 832px 768px #7740f9, 864px 768px #7740f9,
    896px 768px #7740f9, 928px 768px #7840f9, 1120px 768px #7740fa,
    1152px 768px #7740f9, 1184px 768px #7740fa, 1216px 768px #7740f9,
    1248px 768px #7740f9, 1280px 768px #7740f9, 1312px 768px #7740f9,
    1344px 768px #7740f9, 1376px 768px #7245f2, 640px 800px #7640fa,
    672px 800px #7740f9, 704px 800px #7740f9, 736px 800px #7640fa,
    768px 800px #7344ed, 800px 800px #7540fc, 832px 800px #7740f9,
    864px 800px #7740f9, 896px 800px #7740f9, 928px 800px #7740f9,
    1152px 800px #7741f4, 1184px 800px #7643ef, 1216px 800px #7641f8,
    1248px 800px #7740f9, 1280px 800px #7740f9, 1312px 800px #7740f9,
    1344px 800px #7740f9, 1376px 800px #7741f3, 640px 832px #7642f2,
    672px 832px #7642f2, 704px 832px #7642f2, 768px 832px #7147e2,
    800px 832px #7542f5, 832px 832px #7740f9, 864px 832px #7740f9,
    896px 832px #7740f8, 928px 832px #7245eb, 1216px 832px #6c4cdd,
    1248px 832px #7543f1, 1280px 832px #7740f9, 1312px 832px #7543f0,
    1344px 832px #7740f9, 1376px 832px #7740f9, 1408px 832px #793efd,
    704px 864px #694be1, 736px 864px #7843e8, 768px 864px #7540fb,
    800px 864px #7740fa, 832px 864px #7740f8, 864px 864px #7445e9,
    896px 864px #7447e1, 1280px 864px #7741f3, 1312px 864px #7244ef,
    1344px 864px #7740fa, 1376px 864px #7740f9, 1408px 864px #7740fa,
    1440px 864px #7943e7, 672px 896px #7241f8, 704px 896px #7741f5,
    736px 896px #7740f9, 768px 896px #7441fa, 800px 896px #7840f6,
    1312px 896px #7642f1, 1344px 896px #7740f9, 1376px 896px #7740f9,
    1408px 896px #7641f7, 640px 928px #7740f9, 672px 928px #7641f9,
    704px 928px #7740f9, 736px 928px #7840fa, 768px 928px #6e47ed,
    1312px 928px #7643f0, 1344px 928px #7740f9, 1376px 928px #7740f9,
    1280px 960px #7744f0, 1312px 960px #7742f9, 1344px 960px #7740f8,
    1376px 960px #7542f7, 1248px 992px #7442f6, 1280px 992px #7741f8,
    1312px 992px #7840fa, 1344px 992px #7644e5;

  --suicune-step2: 1568px 64px #7840f8, 1600px 64px #7840f8, 1632px 64px #7840f8,
    1664px 64px #7840f8, 1280px 96px #7840f8, 1312px 96px #7840f8,
    1344px 96px #7840f8, 1376px 96px #7840f8, 1408px 96px #7840f8,
    1504px 96px #7840f8, 1536px 96px #7840f8, 1568px 96px #7840f8,
    1600px 96px #7840f8, 1632px 96px #7840f8, 1664px 96px #7840f8,
    1696px 96px #7840f8, 1248px 128px #7840f8, 1280px 128px #7840f8,
    1312px 128px #7840f8, 1344px 128px #7840f8, 1376px 128px #7840f8,
    1408px 128px #7840f8, 1440px 128px #7840f8, 1472px 128px #7840f8,
    1504px 128px #7840f8, 1536px 128px #7840f8, 1568px 128px #7840f8,
    1600px 128px #7840f8, 1632px 128px #7840f8, 1664px 128px #7840f8,
    800px 160px #7840f8, 832px 160px #7840f8, 864px 160px #7840f8,
    1216px 160px #7840f8, 1248px 160px #7840f8, 1280px 160px #7840f8,
    1312px 160px #7840f8, 1344px 160px #7840f8, 1376px 160px #7840f8,
    1408px 160px #7840f8, 1440px 160px #7840f8, 1472px 160px #7840f8,
    1504px 160px #7840f8, 1536px 160px #7840f8, 1568px 160px #7840f8,
    1600px 160px #7840f8, 1632px 160px #7840f8, 1664px 160px #7840f8,
    1696px 160px #7840f8, 1728px 160px #7840f8, 736px 192px #7840f8,
    768px 192px #7840f8, 800px 192px #7840f8, 832px 192px #7840f8,
    864px 192px #7840f8, 992px 192px #7840f8, 1024px 192px #7840f8,
    1184px 192px #7840f8, 1216px 192px #7840f8, 1248px 192px #7840f8,
    1280px 192px #7840f8, 1312px 192px #7840f8, 1344px 192px #7840f8,
    1376px 192px #7840f8, 1408px 192px #7840f8, 1440px 192px #7840f8,
    1472px 192px #7840f8, 1504px 192px #7840f8, 1536px 192px #7840f8,
    1568px 192px #7840f8, 1600px 192px #7840f8, 1632px 192px #7840f8,
    1664px 192px #7840f8, 1696px 192px #7840f8, 672px 224px #7840f8,
    704px 224px #7840f8, 736px 224px #7840f8, 768px 224px #7840f8,
    800px 224px #7840f8, 832px 224px #7840f8, 864px 224px #7840f8,
    896px 224px #7840f8, 928px 224px #7840f8, 960px 224px #7840f8,
    992px 224px #7840f8, 1024px 224px #7840f8, 1056px 224px #7840f8,
    1088px 224px #7840f8, 1120px 224px #7840f8, 1152px 224px #7840f8,
    1184px 224px #7840f8, 1216px 224px #7840f8, 1248px 224px #7840f8,
    1280px 224px #7840f8, 1312px 224px #7840f8, 1344px 224px #7840f8,
    1376px 224px #7840f8, 1408px 224px #7840f8, 1440px 224px #7840f8,
    1472px 224px #7840f8, 1504px 224px #7840f8, 1536px 224px #7840f8,
    1568px 224px #7840f8, 1600px 224px #7840f8, 1632px 224px #7840f8,
    640px 256px #7840f8, 672px 256px #7840f8, 704px 256px #7840f8,
    736px 256px #7840f8, 768px 256px #7840f8, 800px 256px #7840f8,
    864px 256px #7840f8, 896px 256px #7840f8, 928px 256px #7840f8,
    960px 256px #7840f8, 992px 256px #7840f8, 1024px 256px #7840f8,
    1056px 256px #7840f8, 1088px 256px #7840f8, 1120px 256px #7840f8,
    1152px 256px #7840f8, 1184px 256px #7840f8, 1216px 256px #7840f8,
    1248px 256px #7840f8, 1280px 256px #7840f8, 1312px 256px #7840f8,
    1344px 256px #7840f8, 1376px 256px #7840f8, 1408px 256px #7840f8,
    1440px 256px #7840f8, 1472px 256px #7840f8, 1504px 256px #7840f8,
    1536px 256px #7840f8, 1568px 256px #7840f8, 608px 288px #7840f8,
    640px 288px #7840f8, 672px 288px #7840f8, 704px 288px #7840f8,
    736px 288px #7840f8, 800px 288px #7840f8, 832px 288px #7840f8,
    864px 288px #7840f8, 896px 288px #7840f8, 928px 288px #7840f8,
    960px 288px #7840f8, 992px 288px #7840f8, 1024px 288px #7840f8,
    1056px 288px #7840f8, 1088px 288px #7840f8, 1120px 288px #7840f8,
    1152px 288px #7840f8, 1184px 288px #7840f8, 1216px 288px #7840f8,
    1248px 288px #7840f8, 1280px 288px #7840f8, 1312px 288px #7840f8,
    1344px 288px #7840f8, 1376px 288px #7840f8, 1408px 288px #7840f8,
    1440px 288px #7840f8, 1472px 288px #7840f8, 1504px 288px #7840f8,
    1536px 288px #7840f8, 1568px 288px #7840f8, 1600px 288px #7840f8,
    544px 320px #7840f8, 576px 320px #7840f8, 608px 320px #7840f8,
    640px 320px #7840f8, 672px 320px #7840f8, 704px 320px #7840f8,
    736px 320px #7840f8, 768px 320px #7840f8, 800px 320px #7840f8,
    832px 320px #7840f8, 864px 320px #7840f8, 896px 320px #7840f8,
    928px 320px #7840f8, 960px 320px #7840f8, 992px 320px #7840f8,
    1024px 320px #7840f8, 1056px 320px #7840f8, 1088px 320px #7840f8,
    1120px 320px #7840f8, 1152px 320px #7840f8, 1184px 320px #7840f8,
    1216px 320px #7840f8, 1248px 320px #7840f8, 1280px 320px #7840f8,
    1312px 320px #7840f8, 1344px 320px #7840f8, 1376px 320px #7840f8,
    1408px 320px #7840f8, 1440px 320px #7840f8, 1472px 320px #7840f8,
    1504px 320px #7840f8, 1536px 320px #7840f8, 1568px 320px #7840f8,
    1600px 320px #7840f8, 1632px 320px #7840f8, 1664px 320px #7840f8,
    480px 352px #7840f8, 512px 352px #7840f8, 544px 352px #7840f8,
    576px 352px #7840f8, 608px 352px #7840f8, 640px 352px #7840f8,
    672px 352px #7840f8, 704px 352px #7840f8, 736px 352px #7840f8,
    768px 352px #7840f8, 800px 352px #7840f8, 832px 352px #7840f8,
    864px 352px #7840f8, 896px 352px #7840f8, 928px 352px #7840f8,
    960px 352px #7840f8, 992px 352px #7840f8, 1024px 352px #7840f8,
    1056px 352px #7840f8, 1088px 352px #7840f8, 1120px 352px #7840f8,
    1152px 352px #7840f8, 1184px 352px #7840f8, 1216px 352px #7840f8,
    1248px 352px #7840f8, 1408px 352px #7840f8, 1440px 352px #7840f8,
    1472px 352px #7840f8, 1504px 352px #7840f8, 1536px 352px #7840f8,
    1632px 352px #7840f8, 1664px 352px #7840f8, 480px 384px #7840f8,
    512px 384px #7840f8, 544px 384px #7840f8, 576px 384px #7840f8,
    608px 384px #7840f8, 640px 384px #7840f8, 672px 384px #7840f8,
    704px 384px #7840f8, 736px 384px #7840f8, 768px 384px #7840f8,
    800px 384px #7840f8, 832px 384px #7840f8, 864px 384px #7840f8,
    896px 384px #7840f8, 928px 384px #7840f8, 960px 384px #7840f8,
    992px 384px #7840f8, 1024px 384px #7840f8, 1056px 384px #7840f8,
    1088px 384px #7840f8, 1120px 384px #7840f8, 1248px 384px #7840f8,
    1280px 384px #7840f8, 1312px 384px #7840f8, 1344px 384px #7840f8,
    1440px 384px #7840f8, 1472px 384px #7840f8, 1504px 384px #7840f8,
    1600px 384px #7840f8, 1632px 384px #7840f8, 1664px 384px #7840f8,
    448px 416px #7840f8, 480px 416px #84289b, 512px 416px #90103e,
    544px 416px #7840f8, 576px 416px #7840f8, 608px 416px #7840f8,
    640px 416px #7840f8, 672px 416px #7840f8, 704px 416px #7840f8,
    736px 416px #7840f8, 768px 416px #7840f8, 800px 416px #7840f8,
    832px 416px #7840f8, 864px 416px #7840f8, 896px 416px #7840f8,
    928px 416px #7840f8, 960px 416px #7840f8, 992px 416px #7840f8,
    1024px 416px #7840f8, 1056px 416px #7840f8, 1088px 416px #7840f8,
    1120px 416px #7840f8, 1152px 416px #7840f8, 1184px 416px #7840f8,
    1216px 416px #7840f8, 1248px 416px #7840f8, 1280px 416px #7840f8,
    1312px 416px #7840f8, 1344px 416px #7840f8, 1376px 416px #7840f8,
    1408px 416px #7840f8, 1536px 416px #7840f8, 1568px 416px #7840f8,
    1600px 416px #7840f8, 1632px 416px #7840f8, 448px 448px #7840f8,
    480px 448px #980000, 512px 448px #7840f8, 544px 448px #7840f8,
    576px 448px #7840f8, 608px 448px #7840f8, 640px 448px #7840f8,
    672px 448px #7840f8, 704px 448px #7840f8, 736px 448px #7840f8,
    768px 448px #7840f8, 800px 448px #7840f8, 832px 448px #7840f8,
    864px 448px #7840f8, 896px 448px #7840f8, 928px 448px #7840f8,
    960px 448px #7840f8, 992px 448px #7840f8, 1024px 448px #7840f8,
    1056px 448px #7840f8, 1088px 448px #7840f8, 1120px 448px #7840f8,
    1152px 448px #7840f8, 1184px 448px #7840f8, 1216px 448px #7840f8,
    1248px 448px #7840f8, 1280px 448px #7840f8, 1312px 448px #7840f8,
    1344px 448px #7840f8, 1376px 448px #7840f8, 1408px 448px #7840f8,
    1440px 448px #7840f8, 1504px 448px #7840f8, 1536px 448px #7840f8,
    1568px 448px #7840f8, 416px 480px #7840f8, 448px 480px #7840f8,
    480px 480px #7840f8, 512px 480px #7840f8, 544px 480px #7840f8,
    576px 480px #7840f8, 608px 480px #7840f8, 640px 480px #7840f8,
    672px 480px #7840f8, 704px 480px #7840f8, 736px 480px #7840f8,
    768px 480px #7840f8, 800px 480px #7840f8, 832px 480px #7840f8,
    864px 480px #7840f8, 896px 480px #7840f8, 928px 480px #7840f8,
    960px 480px #7840f8, 992px 480px #7840f8, 1024px 480px #7840f8,
    1056px 480px #7840f8, 1088px 480px #7840f8, 1120px 480px #7840f8,
    1152px 480px #7840f8, 1184px 480px #7840f8, 1216px 480px #7840f8,
    1248px 480px #7840f8, 1280px 480px #7840f8, 1312px 480px #7840f8,
    1344px 480px #7840f8, 1376px 480px #7840f8, 1408px 480px #7840f8,
    1440px 480px #7840f8, 1472px 480px #7840f8, 1504px 480px #7840f8,
    416px 512px #7840f8, 448px 512px #7840f8, 480px 512px #7840f8,
    512px 512px #7840f8, 544px 512px #7840f8, 576px 512px #7840f8,
    608px 512px #7840f8, 640px 512px #7840f8, 672px 512px #7840f8,
    704px 512px #7840f8, 736px 512px #7840f8, 768px 512px #7840f8,
    800px 512px #7840f8, 832px 512px #7840f8, 864px 512px #7840f8,
    896px 512px #7840f8, 928px 512px #7840f8, 960px 512px #7840f8,
    992px 512px #7840f8, 1024px 512px #7840f8, 1056px 512px #7840f8,
    1088px 512px #7840f8, 1120px 512px #7840f8, 1152px 512px #7840f8,
    1184px 512px #7840f8, 1216px 512px #7840f8, 1248px 512px #7840f8,
    1280px 512px #7840f8, 1312px 512px #7840f8, 1344px 512px #7840f8,
    1376px 512px #7840f8, 1408px 512px #7840f8, 1440px 512px #7840f8,
    1472px 512px #7840f8, 416px 544px #7840f8, 448px 544px #7840f8,
    480px 544px #7840f8, 512px 544px #7840f8, 544px 544px #7840f8,
    576px 544px #7840f8, 608px 544px #7840f8, 640px 544px #7840f8,
    672px 544px #7840f8, 704px 544px #7840f8, 736px 544px #7840f8,
    768px 544px #7840f8, 800px 544px #7840f8, 832px 544px #7840f8,
    864px 544px #7840f8, 896px 544px #7840f8, 928px 544px #7840f8,
    960px 544px #7840f8, 992px 544px #7840f8, 1024px 544px #7840f8,
    1056px 544px #7840f8, 1088px 544px #7840f8, 1120px 544px #7840f8,
    1152px 544px #7840f8, 1184px 544px #7840f8, 1216px 544px #7840f8,
    1248px 544px #7840f8, 1280px 544px #7840f8, 1312px 544px #7840f8,
    1344px 544px #7840f8, 1376px 544px #7840f8, 1408px 544px #7840f8,
    1440px 544px #7840f8, 1472px 544px #7840f8, 1504px 544px #7840f8,
    640px 576px #7840f8, 672px 576px #7840f8, 704px 576px #7840f8,
    736px 576px #7840f8, 768px 576px #7840f8, 800px 576px #7840f8,
    832px 576px #7840f8, 864px 576px #7840f8, 896px 576px #7840f8,
    928px 576px #7840f8, 960px 576px #7840f8, 992px 576px #7840f8,
    1024px 576px #7840f8, 1056px 576px #7840f8, 1088px 576px #7840f8,
    1120px 576px #7840f8, 1152px 576px #7840f8, 1184px 576px #7840f8,
    1216px 576px #7840f8, 1248px 576px #7840f8, 1280px 576px #7840f8,
    1312px 576px #7840f8, 1344px 576px #7840f8, 1376px 576px #7840f8,
    1408px 576px #7840f8, 1440px 576px #7840f8, 1472px 576px #7840f8,
    1504px 576px #7840f8, 672px 608px #7840f8, 704px 608px #7840f8,
    736px 608px #7840f8, 768px 608px #7840f8, 800px 608px #7840f8,
    832px 608px #7840f8, 864px 608px #7840f8, 896px 608px #7840f8,
    928px 608px #7840f8, 960px 608px #7840f8, 992px 608px #7840f8,
    1024px 608px #7840f8, 1056px 608px #7840f8, 1088px 608px #7840f8,
    1120px 608px #7840f8, 1152px 608px #7840f8, 1184px 608px #7840f8,
    1216px 608px #7840f8, 1248px 608px #7840f8, 1280px 608px #7840f8,
    1312px 608px #7840f8, 1344px 608px #7840f8, 1376px 608px #7840f8,
    1408px 608px #7840f8, 1440px 608px #7840f8, 1472px 608px #7840f8,
    1504px 608px #7840f8, 1536px 608px #7840f8, 1568px 608px #7840f8,
    1600px 608px #7840f8, 1632px 608px #7840f8, 640px 640px #7840f8,
    672px 640px #7840f8, 704px 640px #7840f8, 736px 640px #7840f8,
    768px 640px #7840f8, 800px 640px #7840f8, 832px 640px #7840f8,
    864px 640px #7840f8, 896px 640px #7840f8, 928px 640px #7840f8,
    960px 640px #7840f8, 992px 640px #7840f8, 1024px 640px #7840f8,
    1056px 640px #7840f8, 1088px 640px #7840f8, 1120px 640px #7840f8,
    1152px 640px #7840f8, 1184px 640px #7840f8, 1216px 640px #7840f8,
    1248px 640px #7840f8, 1280px 640px #7840f8, 1312px 640px #7840f8,
    1344px 640px #7840f8, 1376px 640px #7840f8, 1408px 640px #7840f8,
    1440px 640px #7840f8, 1472px 640px #7840f8, 1504px 640px #7840f8,
    1536px 640px #7840f8, 1568px 640px #7840f8, 1600px 640px #7840f8,
    1632px 640px #7840f8, 576px 672px #7840f8, 608px 672px #7840f8,
    640px 672px #7840f8, 672px 672px #7840f8, 704px 672px #7840f8,
    736px 672px #7840f8, 768px 672px #7840f8, 800px 672px #7840f8,
    832px 672px #7840f8, 864px 672px #7840f8, 896px 672px #7840f8,
    928px 672px #7840f8, 960px 672px #7840f8, 992px 672px #7840f8,
    1024px 672px #7840f8, 1056px 672px #7840f8, 1248px 672px #7840f8,
    1280px 672px #7840f8, 1312px 672px #7840f8, 1344px 672px #7840f8,
    1376px 672px #7840f8, 1408px 672px #7840f8, 1440px 672px #7840f8,
    1472px 672px #7840f8, 1504px 672px #7840f8, 1536px 672px #7840f8,
    1568px 672px #7840f8, 1600px 672px #7840f8, 1632px 672px #7840f8,
    1664px 672px #7840f8, 544px 704px #7840f8, 576px 704px #7840f8,
    608px 704px #7840f8, 640px 704px #7840f8, 672px 704px #7840f8,
    704px 704px #7840f8, 736px 704px #7840f8, 768px 704px #7840f8,
    800px 704px #7840f8, 832px 704px #7840f8, 864px 704px #7840f8,
    896px 704px #7840f8, 928px 704px #7840f8, 960px 704px #7840f8,
    1248px 704px #7840f8, 1280px 704px #7840f8, 1312px 704px #7840f8,
    1344px 704px #7840f8, 1376px 704px #7840f8, 1408px 704px #7840f8,
    1440px 704px #7840f8, 1472px 704px #7840f8, 1504px 704px #7840f8,
    1536px 704px #7840f8, 1568px 704px #7840f8, 1600px 704px #7840f8,
    1632px 704px #7840f8, 1664px 704px #7840f8, 480px 736px #7840f8,
    512px 736px #7840f8, 544px 736px #7840f8, 576px 736px #7840f8,
    608px 736px #7840f8, 640px 736px #7840f8, 704px 736px #7840f8,
    736px 736px #7840f8, 768px 736px #7840f8, 800px 736px #7840f8,
    832px 736px #7840f8, 864px 736px #7840f8, 1248px 736px #7840f8,
    1280px 736px #7840f8, 1312px 736px #7840f8, 1344px 736px #7840f8,
    1376px 736px #7840f8, 1408px 736px #7840f8, 1440px 736px #7840f8,
    1472px 736px #7840f8, 1504px 736px #7840f8, 1600px 736px #7840f8,
    1632px 736px #7840f8, 1664px 736px #7840f8, 1696px 736px #7840f8,
    416px 768px #7840f8, 448px 768px #7840f8, 480px 768px #7840f8,
    512px 768px #7840f8, 544px 768px #7840f8, 640px 768px #7840f8,
    672px 768px #7840f8, 704px 768px #7840f8, 736px 768px #7840f8,
    768px 768px #7840f8, 800px 768px #7840f8, 832px 768px #7840f8,
    864px 768px #7840f8, 1280px 768px #7840f8, 1312px 768px #7840f8,
    1344px 768px #7840f8, 1376px 768px #7840f8, 1408px 768px #7840f8,
    1440px 768px #7840f8, 1472px 768px #7840f8, 1600px 768px #7840f8,
    1632px 768px #7840f8, 1664px 768px #7840f8, 1696px 768px #7840f8,
    576px 800px #7840f8, 608px 800px #7840f8, 640px 800px #7840f8,
    672px 800px #7840f8, 704px 800px #7840f8, 736px 800px #7840f8,
    768px 800px #7840f8, 1600px 800px #7840f8, 1632px 800px #7840f8,
    1664px 800px #7840f8, 1696px 800px #7840f8, 480px 832px #7840f8,
    512px 832px #7840f8, 544px 832px #7840f8, 576px 832px #7840f8,
    608px 832px #7840f8, 640px 832px #7840f8, 672px 832px #7840f8,
    704px 832px #7840f8, 736px 832px #7840f8, 1696px 832px #7840f8,
    1728px 832px #7840f8, 480px 864px #7840f8, 512px 864px #7840f8,
    544px 864px #7840f8, 576px 864px #7840f8, 608px 864px #7840f8,
    640px 864px #7840f8, 1696px 864px #7840f8, 1728px 864px #7840f8;

  --suicune-step3: 1152px 0 #7840f8, 1184px 0 #7840f8, 1216px 0 #7840f8,
    1248px 0 #7840f8, 1280px 0 #7840f8, 1312px 0 #7840f8, 1344px 0 #7840f8,
    1376px 0 #7840f8, 1152px 32px #7840f8, 1184px 32px #7840f8,
    1216px 32px #7840f8, 1248px 32px #7840f8, 1280px 32px #7840f8,
    1312px 32px #7840f8, 1344px 32px #7840f8, 1376px 32px #7840f8,
    1504px 32px #7840f8, 1536px 32px #7840f8, 1120px 64px #7840f8,
    1152px 64px #7840f8, 1184px 64px #7840f8, 1216px 64px #7840f8,
    1248px 64px #7840f8, 1280px 64px #7840f8, 1312px 64px #7840f8,
    1344px 64px #7840f8, 1376px 64px #7840f8, 1408px 64px #7840f8,
    1440px 64px #7840f8, 1472px 64px #7840f8, 1504px 64px #7840f8,
    1536px 64px #7840f8, 1568px 64px #7840f8, 1088px 96px #7840f8,
    1120px 96px #7840f8, 1152px 96px #7840f8, 1184px 96px #7840f8,
    1216px 96px #7840f8, 1248px 96px #7840f8, 1280px 96px #7840f8,
    1312px 96px #7840f8, 1344px 96px #7840f8, 1376px 96px #7840f8,
    1408px 96px #7840f8, 1440px 96px #7840f8, 1472px 96px #7840f8,
    1504px 96px #7840f8, 1536px 96px #7840f8, 800px 128px #7840f8,
    832px 128px #7840f8, 1024px 128px #7840f8, 1056px 128px #7840f8,
    1088px 128px #7840f8, 1120px 128px #7840f8, 1152px 128px #7840f8,
    1184px 128px #7840f8, 1216px 128px #7840f8, 1248px 128px #7840f8,
    1280px 128px #7840f8, 1312px 128px #7840f8, 1344px 128px #7840f8,
    1376px 128px #7840f8, 1408px 128px #7840f8, 1440px 128px #7840f8,
    1472px 128px #7840f8, 1504px 128px #7840f8, 1536px 128px #7840f8,
    1568px 128px #7840f8, 768px 160px #7840f8, 800px 160px #7840f8,
    832px 160px #7840f8, 864px 160px #7840f8, 960px 160px #7840f8,
    992px 160px #7840f8, 1024px 160px #7840f8, 1056px 160px #7840f8,
    1088px 160px #7840f8, 1120px 160px #7840f8, 1152px 160px #7840f8,
    1184px 160px #7840f8, 1216px 160px #7840f8, 1248px 160px #7840f8,
    1280px 160px #7840f8, 1312px 160px #7840f8, 1344px 160px #7840f8,
    1376px 160px #7840f8, 1408px 160px #7840f8, 1440px 160px #7840f8,
    1472px 160px #7840f8, 1504px 160px #7840f8, 1536px 160px #7840f8,
    736px 192px #7840f8, 768px 192px #7840f8, 800px 192px #7840f8,
    832px 192px #7840f8, 928px 192px #7840f8, 960px 192px #7840f8,
    992px 192px #7840f8, 1024px 192px #7840f8, 1056px 192px #7840f8,
    1088px 192px #7840f8, 1120px 192px #7840f8, 1152px 192px #7840f8,
    1184px 192px #7840f8, 1216px 192px #7840f8, 1248px 192px #7840f8,
    1280px 192px #7840f8, 1312px 192px #7840f8, 1344px 192px #7840f8,
    1376px 192px #7840f8, 1408px 192px #7840f8, 1440px 192px #7840f8,
    1472px 192px #7840f8, 704px 224px #7840f8, 736px 224px #7840f8,
    768px 224px #7840f8, 800px 224px #7840f8, 832px 224px #7840f8,
    928px 224px #7840f8, 960px 224px #7840f8, 992px 224px #7840f8,
    1024px 224px #7840f8, 1056px 224px #7840f8, 1088px 224px #7840f8,
    1120px 224px #7840f8, 1152px 224px #7840f8, 1184px 224px #7840f8,
    1216px 224px #7840f8, 1248px 224px #7840f8, 1280px 224px #7840f8,
    1312px 224px #7840f8, 1344px 224px #7840f8, 1376px 224px #7840f8,
    1440px 224px #7840f8, 1472px 224px #7840f8, 1504px 224px #7840f8,
    1536px 224px #7840f8, 704px 256px #7840f8, 736px 256px #7840f8,
    768px 256px #7840f8, 800px 256px #7840f8, 928px 256px #7840f8,
    960px 256px #7840f8, 992px 256px #7840f8, 1024px 256px #7840f8,
    1056px 256px #7840f8, 1088px 256px #7840f8, 1120px 256px #7840f8,
    1152px 256px #7840f8, 1184px 256px #7840f8, 1216px 256px #7840f8,
    1248px 256px #7840f8, 1312px 256px #7840f8, 1344px 256px #7840f8,
    1504px 256px #7840f8, 1536px 256px #7840f8, 640px 288px #7840f8,
    672px 288px #7840f8, 704px 288px #7840f8, 736px 288px #7840f8,
    768px 288px #7840f8, 832px 288px #7840f8, 864px 288px #7840f8,
    896px 288px #7840f8, 928px 288px #7840f8, 960px 288px #7840f8,
    992px 288px #7840f8, 1024px 288px #7840f8, 1056px 288px #7840f8,
    1088px 288px #7840f8, 1120px 288px #7840f8, 1152px 288px #7840f8,
    1184px 288px #7840f8, 1216px 288px #7840f8, 1248px 288px #7840f8,
    1504px 288px #7840f8, 1536px 288px #7840f8, 640px 320px #7840f8,
    672px 320px #7840f8, 704px 320px #7840f8, 736px 320px #7840f8,
    768px 320px #7840f8, 800px 320px #7840f8, 832px 320px #7840f8,
    864px 320px #7840f8, 896px 320px #7840f8, 928px 320px #7840f8,
    960px 320px #7840f8, 992px 320px #7840f8, 1024px 320px #7840f8,
    1056px 320px #7840f8, 1088px 320px #7840f8, 1152px 320px #7840f8,
    1184px 320px #7840f8, 1216px 320px #7840f8, 1248px 320px #7840f8,
    1472px 320px #7840f8, 1504px 320px #7840f8, 1536px 320px #7840f8,
    608px 352px #7840f8, 640px 352px #7840f8, 672px 352px #7840f8,
    704px 352px #7840f8, 736px 352px #7840f8, 800px 352px #7840f8,
    832px 352px #7840f8, 864px 352px #7840f8, 896px 352px #7840f8,
    928px 352px #7840f8, 960px 352px #7840f8, 992px 352px #7840f8,
    1024px 352px #7840f8, 1056px 352px #7840f8, 1088px 352px #7840f8,
    1152px 352px #7840f8, 1184px 352px #7840f8, 1216px 352px #7840f8,
    1248px 352px #7840f8, 1280px 352px #7840f8, 1312px 352px #7840f8,
    1440px 352px #7840f8, 1472px 352px #7840f8, 1504px 352px #7840f8,
    576px 384px #7840f8, 608px 384px #7840f8, 640px 384px #7840f8,
    672px 384px #7840f8, 704px 384px #7840f8, 736px 384px #7840f8,
    768px 384px #7840f8, 800px 384px #7840f8, 832px 384px #7840f8,
    864px 384px #7840f8, 896px 384px #7840f8, 928px 384px #7840f8,
    960px 384px #7840f8, 992px 384px #7840f8, 1024px 384px #7840f8,
    1056px 384px #7840f8, 1088px 384px #7840f8, 1120px 384px #7840f8,
    1152px 384px #7840f8, 1184px 384px #7840f8, 1216px 384px #7840f8,
    1248px 384px #7840f8, 1280px 384px #7840f8, 1312px 384px #7840f8,
    1344px 384px #7840f8, 1376px 384px #7840f8, 1408px 384px #7840f8,
    1440px 384px #7840f8, 1472px 384px #7840f8, 576px 416px #7840f8,
    608px 416px #7840f8, 640px 416px #7840f8, 672px 416px #7840f8,
    704px 416px #7840f8, 736px 416px #7840f8, 768px 416px #7840f8,
    800px 416px #7840f8, 832px 416px #7840f8, 864px 416px #7840f8,
    896px 416px #7840f8, 928px 416px #7840f8, 960px 416px #7840f8,
    992px 416px #7840f8, 1024px 416px #7840f8, 1056px 416px #7840f8,
    1088px 416px #7840f8, 1120px 416px #7840f8, 1152px 416px #7840f8,
    1184px 416px #7840f8, 1216px 416px #7840f8, 1248px 416px #7840f8,
    1280px 416px #7840f8, 1312px 416px #7840f8, 1344px 416px #7840f8,
    1376px 416px #7840f8, 576px 448px #7840f8, 608px 448px #90103e,
    640px 448px #7840f8, 672px 448px #7840f8, 704px 448px #7840f8,
    736px 448px #7840f8, 768px 448px #7840f8, 800px 448px #7840f8,
    832px 448px #7840f8, 864px 448px #7840f8, 896px 448px #7840f8,
    928px 448px #7840f8, 960px 448px #7840f8, 992px 448px #7840f8,
    1024px 448px #7840f8, 1056px 448px #7840f8, 1088px 448px #7840f8,
    1120px 448px #7840f8, 1152px 448px #7840f8, 1184px 448px #7840f8,
    1216px 448px #7840f8, 1248px 448px #7840f8, 1280px 448px #7840f8,
    1312px 448px #7840f8, 1344px 448px #7840f8, 1376px 448px #7840f8,
    1408px 448px #7840f8, 576px 480px #90103e, 608px 480px #980000,
    640px 480px #7840f8, 672px 480px #7840f8, 704px 480px #7840f8,
    736px 480px #7840f8, 768px 480px #7840f8, 800px 480px #7840f8,
    832px 480px #7840f8, 864px 480px #7840f8, 896px 480px #7840f8,
    928px 480px #7840f8, 960px 480px #7840f8, 992px 480px #7840f8,
    1024px 480px #7840f8, 1056px 480px #7840f8, 1088px 480px #7840f8,
    1120px 480px #7840f8, 1152px 480px #7840f8, 1184px 480px #7840f8,
    1216px 480px #7840f8, 1248px 480px #7840f8, 1280px 480px #7840f8,
    1312px 480px #7840f8, 1344px 480px #7840f8, 1376px 480px #7840f8,
    1408px 480px #7840f8, 512px 512px #7840f8, 544px 512px #7840f8,
    576px 512px #8a1c6d, 608px 512px #7840f8, 640px 512px #7840f8,
    672px 512px #7840f8, 704px 512px #7840f8, 736px 512px #7840f8,
    768px 512px #7840f8, 800px 512px #7840f8, 832px 512px #7840f8,
    864px 512px #7840f8, 896px 512px #7840f8, 928px 512px #7840f8,
    960px 512px #7840f8, 992px 512px #7840f8, 1024px 512px #7840f8,
    1056px 512px #7840f8, 1088px 512px #7840f8, 1120px 512px #7840f8,
    1152px 512px #7840f8, 1184px 512px #7840f8, 1216px 512px #7840f8,
    1248px 512px #7840f8, 1280px 512px #7840f8, 1312px 512px #7840f8,
    1344px 512px #7840f8, 1376px 512px #7840f8, 1408px 512px #7840f8,
    1440px 512px #7840f8, 512px 544px #7840f8, 544px 544px #7840f8,
    576px 544px #7840f8, 608px 544px #7840f8, 640px 544px #7840f8,
    672px 544px #7840f8, 704px 544px #7840f8, 736px 544px #7840f8,
    768px 544px #7840f8, 800px 544px #7840f8, 832px 544px #7840f8,
    864px 544px #7840f8, 896px 544px #7840f8, 928px 544px #7840f8,
    960px 544px #7840f8, 992px 544px #7840f8, 1024px 544px #7840f8,
    1056px 544px #7840f8, 1088px 544px #7840f8, 1120px 544px #7840f8,
    1152px 544px #7840f8, 1184px 544px #7840f8, 1216px 544px #7840f8,
    1248px 544px #7840f8, 1280px 544px #7840f8, 1312px 544px #7840f8,
    1344px 544px #7840f8, 1376px 544px #7840f8, 1408px 544px #7840f8,
    1440px 544px #7840f8, 512px 576px #7840f8, 544px 576px #7840f8,
    576px 576px #7840f8, 608px 576px #7840f8, 640px 576px #7840f8,
    704px 576px #7840f8, 736px 576px #7840f8, 768px 576px #7840f8,
    800px 576px #7840f8, 832px 576px #7840f8, 864px 576px #7840f8,
    896px 576px #7840f8, 928px 576px #7840f8, 960px 576px #7840f8,
    992px 576px #7840f8, 1024px 576px #7840f8, 1056px 576px #7840f8,
    1088px 576px #7840f8, 1120px 576px #7840f8, 1152px 576px #7840f8,
    1184px 576px #7840f8, 1216px 576px #7840f8, 1248px 576px #7840f8,
    1280px 576px #7840f8, 1312px 576px #7840f8, 1344px 576px #7840f8,
    1376px 576px #7840f8, 1408px 576px #7840f8, 544px 608px #7840f8,
    576px 608px #7840f8, 768px 608px #7840f8, 800px 608px #7840f8,
    832px 608px #7840f8, 864px 608px #7840f8, 896px 608px #7840f8,
    928px 608px #7840f8, 960px 608px #7840f8, 992px 608px #7840f8,
    1024px 608px #7840f8, 1056px 608px #7840f8, 1088px 608px #7840f8,
    1120px 608px #7840f8, 1152px 608px #7840f8, 1184px 608px #7840f8,
    1216px 608px #7840f8, 1248px 608px #7840f8, 1280px 608px #7840f8,
    1312px 608px #7840f8, 1344px 608px #7840f8, 1376px 608px #7840f8,
    1408px 608px #7840f8, 800px 640px #7840f8, 832px 640px #7840f8,
    864px 640px #7840f8, 896px 640px #7840f8, 928px 640px #7840f8,
    960px 640px #7840f8, 992px 640px #7840f8, 1024px 640px #7840f8,
    1056px 640px #7840f8, 1088px 640px #7840f8, 1120px 640px #7840f8,
    1152px 640px #7840f8, 1184px 640px #7840f8, 1216px 640px #7840f8,
    1248px 640px #7840f8, 1280px 640px #7840f8, 1312px 640px #7840f8,
    1344px 640px #7840f8, 1376px 640px #7840f8, 832px 672px #7840f8,
    864px 672px #7840f8, 896px 672px #7840f8, 928px 672px #7840f8,
    960px 672px #7840f8, 992px 672px #7840f8, 1024px 672px #7840f8,
    1056px 672px #7840f8, 1088px 672px #7840f8, 1152px 672px #7840f8,
    1184px 672px #7840f8, 1216px 672px #7840f8, 1248px 672px #7840f8,
    1280px 672px #7840f8, 1312px 672px #7840f8, 1344px 672px #7840f8,
    864px 704px #7840f8, 896px 704px #7840f8, 928px 704px #7840f8,
    960px 704px #7840f8, 992px 704px #7840f8, 1024px 704px #7840f8,
    1152px 704px #7840f8, 1184px 704px #7840f8, 1216px 704px #7840f8,
    1248px 704px #7840f8, 1280px 704px #7840f8, 1312px 704px #7840f8,
    896px 736px #7840f8, 928px 736px #7840f8, 960px 736px #7840f8,
    992px 736px #7840f8, 1024px 736px #7840f8, 1152px 736px #7840f8,
    1184px 736px #7840f8, 1216px 736px #7840f8, 1248px 736px #7840f8,
    1280px 736px #7840f8, 1312px 736px #7840f8, 896px 768px #7840f8,
    928px 768px #7840f8, 960px 768px #7840f8, 992px 768px #7840f8,
    1024px 768px #7840f8, 1152px 768px #7840f8, 1184px 768px #7840f8,
    1216px 768px #7840f8, 1248px 768px #7840f8, 1280px 768px #7840f8,
    1312px 768px #7840f8, 864px 800px #7840f8, 896px 800px #7840f8,
    928px 800px #7840f8, 960px 800px #7840f8, 992px 800px #7840f8,
    1024px 800px #7840f8, 1056px 800px #7840f8, 1152px 800px #7840f8,
    1184px 800px #7840f8, 1216px 800px #7840f8, 1248px 800px #7840f8,
    1280px 800px #7840f8, 1312px 800px #7840f8, 864px 832px #7840f8,
    896px 832px #7840f8, 928px 832px #7840f8, 960px 832px #7840f8,
    992px 832px #7840f8, 1024px 832px #7840f8, 1056px 832px #7840f8,
    1088px 832px #7840f8, 1120px 832px #7840f8, 1152px 832px #7840f8,
    1184px 832px #7840f8, 1216px 832px #7840f8, 1248px 832px #7840f8,
    1280px 832px #7840f8, 1312px 832px #7840f8, 928px 864px #7840f8,
    960px 864px #7840f8, 992px 864px #7840f8, 1024px 864px #7840f8,
    1056px 864px #7840f8, 1088px 864px #7840f8, 1120px 864px #7840f8,
    1152px 864px #7840f8, 1184px 864px #7840f8, 1248px 864px #7840f8,
    1280px 864px #7840f8, 1312px 864px #7840f8, 928px 896px #7840f8,
    960px 896px #7840f8, 992px 896px #7840f8, 1024px 896px #7840f8,
    1056px 896px #7840f8, 1088px 896px #7840f8, 1120px 896px #7840f8,
    1152px 896px #7840f8, 1184px 896px #7840f8, 1216px 896px #7840f8,
    1248px 896px #7840f8, 1280px 896px #7840f8, 1312px 896px #7840f8,
    992px 928px #7840f8, 1024px 928px #7840f8, 1056px 928px #7840f8,
    1248px 928px #7840f8, 1280px 928px #7840f8, 1312px 928px #7840f8,
    992px 960px #7840f8, 1024px 960px #7840f8, 1056px 960px #7840f8,
    992px 992px #7840f8, 1024px 992px #7840f8, 1056px 992px #7840f8,
    992px 1024px #7840f8, 1024px 1024px #7840f8, 1056px 1024px #7840f8;

  --suicune-step4: 1248px 96px #7840f8, 1280px 96px #7840f8, 1312px 96px #7840f8,
    864px 128px #7840f8, 896px 128px #7840f8, 1184px 128px #7840f8,
    1216px 128px #7840f8, 1248px 128px #7840f8, 1280px 128px #7840f8,
    1312px 128px #7840f8, 1344px 128px #7840f8, 1440px 128px #7840f8,
    1472px 128px #7840f8, 1504px 128px #7840f8, 1536px 128px #7840f8,
    800px 160px #7840f8, 832px 160px #7840f8, 864px 160px #7840f8,
    896px 160px #7840f8, 928px 160px #7840f8, 1120px 160px #7840f8,
    1152px 160px #7840f8, 1184px 160px #7840f8, 1216px 160px #7840f8,
    1248px 160px #7840f8, 1280px 160px #7840f8, 1312px 160px #7840f8,
    1344px 160px #7840f8, 1408px 160px #7840f8, 1440px 160px #7840f8,
    1472px 160px #7840f8, 1504px 160px #7840f8, 1536px 160px #7840f8,
    1568px 160px #7840f8, 1600px 160px #7840f8, 1632px 160px #7840f8,
    768px 192px #7840f8, 800px 192px #7840f8, 832px 192px #7840f8,
    864px 192px #7840f8, 1120px 192px #7840f8, 1152px 192px #7840f8,
    1184px 192px #7840f8, 1216px 192px #7840f8, 1248px 192px #7840f8,
    1280px 192px #7840f8, 1312px 192px #7840f8, 1376px 192px #7840f8,
    1408px 192px #7840f8, 1440px 192px #7840f8, 1472px 192px #7840f8,
    1504px 192px #7840f8, 1536px 192px #7840f8, 1568px 192px #7840f8,
    1600px 192px #7840f8, 1632px 192px #7840f8, 1664px 192px #7840f8,
    704px 224px #7840f8, 736px 224px #7840f8, 768px 224px #7840f8,
    800px 224px #7840f8, 832px 224px #7840f8, 896px 224px #7840f8,
    928px 224px #7840f8, 960px 224px #7840f8, 992px 224px #7840f8,
    1024px 224px #7840f8, 1056px 224px #7840f8, 1088px 224px #7840f8,
    1120px 224px #7840f8, 1152px 224px #7840f8, 1184px 224px #7840f8,
    1216px 224px #7840f8, 1248px 224px #7840f8, 1280px 224px #7840f8,
    1312px 224px #7840f8, 1344px 224px #7840f8, 1376px 224px #7840f8,
    1408px 224px #7840f8, 1440px 224px #7840f8, 1472px 224px #7840f8,
    1504px 224px #7840f8, 1536px 224px #7840f8, 1568px 224px #7840f8,
    1600px 224px #7840f8, 1632px 224px #7840f8, 1664px 224px #7840f8,
    1696px 224px #7840f8, 1728px 224px #7840f8, 640px 256px #7840f8,
    672px 256px #7840f8, 704px 256px #7840f8, 736px 256px #7840f8,
    768px 256px #7840f8, 800px 256px #7840f8, 864px 256px #7840f8,
    896px 256px #7840f8, 928px 256px #7840f8, 960px 256px #7840f8,
    992px 256px #7840f8, 1024px 256px #7840f8, 1056px 256px #7840f8,
    1088px 256px #7840f8, 1120px 256px #7840f8, 1152px 256px #7840f8,
    1184px 256px #7840f8, 1216px 256px #7840f8, 1248px 256px #7840f8,
    1280px 256px #7840f8, 1312px 256px #7840f8, 1344px 256px #7840f8,
    1376px 256px #7840f8, 1408px 256px #7840f8, 1440px 256px #7840f8,
    1472px 256px #7840f8, 1504px 256px #7840f8, 1536px 256px #7840f8,
    1568px 256px #7840f8, 1600px 256px #7840f8, 1632px 256px #7840f8,
    576px 288px #7840f8, 608px 288px #7840f8, 640px 288px #7840f8,
    672px 288px #7840f8, 704px 288px #7840f8, 736px 288px #7840f8,
    768px 288px #7840f8, 800px 288px #7840f8, 832px 288px #7840f8,
    864px 288px #7840f8, 896px 288px #7840f8, 928px 288px #7840f8,
    960px 288px #7840f8, 992px 288px #7840f8, 1024px 288px #7840f8,
    1056px 288px #7840f8, 1088px 288px #7840f8, 1120px 288px #7840f8,
    1152px 288px #7840f8, 1184px 288px #7840f8, 1216px 288px #7840f8,
    1248px 288px #7840f8, 1280px 288px #7840f8, 1312px 288px #7840f8,
    1344px 288px #7840f8, 1376px 288px #7840f8, 1408px 288px #7840f8,
    1440px 288px #7840f8, 1472px 288px #7840f8, 1504px 288px #7840f8,
    1536px 288px #7840f8, 1568px 288px #7840f8, 1600px 288px #7840f8,
    1632px 288px #7840f8, 544px 320px #7840f8, 576px 320px #7840f8,
    608px 320px #7840f8, 640px 320px #7840f8, 672px 320px #7840f8,
    704px 320px #7840f8, 736px 320px #7840f8, 768px 320px #7840f8,
    800px 320px #7840f8, 832px 320px #7840f8, 864px 320px #7840f8,
    896px 320px #7840f8, 928px 320px #7840f8, 960px 320px #7840f8,
    992px 320px #7840f8, 1024px 320px #7840f8, 1056px 320px #7840f8,
    1088px 320px #7840f8, 1120px 320px #7840f8, 1152px 320px #7840f8,
    1184px 320px #7840f8, 1216px 320px #7840f8, 1248px 320px #7840f8,
    1280px 320px #7840f8, 1312px 320px #7840f8, 1344px 320px #7840f8,
    1376px 320px #7840f8, 1408px 320px #7840f8, 1440px 320px #7840f8,
    1472px 320px #7840f8, 1504px 320px #7840f8, 1536px 320px #7840f8,
    1568px 320px #7840f8, 1600px 320px #7840f8, 1632px 320px #7840f8,
    512px 352px #7840f8, 544px 352px #7840f8, 576px 352px #7840f8,
    608px 352px #7840f8, 640px 352px #7840f8, 672px 352px #7840f8,
    704px 352px #7840f8, 736px 352px #7840f8, 768px 352px #7840f8,
    800px 352px #7840f8, 832px 352px #7840f8, 864px 352px #7840f8,
    896px 352px #7840f8, 928px 352px #7840f8, 960px 352px #7840f8,
    992px 352px #7840f8, 1024px 352px #7840f8, 1056px 352px #7840f8,
    1088px 352px #7840f8, 1120px 352px #7840f8, 1152px 352px #7840f8,
    1184px 352px #7840f8, 1216px 352px #7840f8, 1248px 352px #7840f8,
    1280px 352px #7840f8, 1312px 352px #7840f8, 1408px 352px #7840f8,
    1440px 352px #7840f8, 1472px 352px #7840f8, 1536px 352px #7840f8,
    1568px 352px #7840f8, 480px 384px #7840f8, 512px 384px #7840f8,
    544px 384px #88207c, 576px 384px #8030ba, 608px 384px #7840f8,
    640px 384px #7840f8, 672px 384px #7840f8, 704px 384px #7840f8,
    736px 384px #7840f8, 768px 384px #7840f8, 800px 384px #7840f8,
    832px 384px #7840f8, 864px 384px #7840f8, 896px 384px #7840f8,
    928px 384px #7840f8, 960px 384px #7840f8, 992px 384px #7840f8,
    1024px 384px #7840f8, 1056px 384px #7840f8, 1088px 384px #7840f8,
    1120px 384px #7840f8, 1152px 384px #7840f8, 1184px 384px #7840f8,
    1216px 384px #7840f8, 1248px 384px #7840f8, 1280px 384px #7840f8,
    1504px 384px #7840f8, 1536px 384px #7840f8, 1568px 384px #7840f8,
    480px 416px #7840f8, 512px 416px #90103e, 544px 416px #980000,
    576px 416px #7840f8, 608px 416px #7840f8, 640px 416px #7840f8,
    672px 416px #7840f8, 704px 416px #7840f8, 736px 416px #7840f8,
    768px 416px #7840f8, 800px 416px #7840f8, 832px 416px #7840f8,
    864px 416px #7840f8, 896px 416px #7840f8, 928px 416px #7840f8,
    960px 416px #7840f8, 992px 416px #7840f8, 1024px 416px #7840f8,
    1120px 416px #7840f8, 1152px 416px #7840f8, 1184px 416px #7840f8,
    1216px 416px #7840f8, 1248px 416px #7840f8, 1280px 416px #7840f8,
    1312px 416px #7840f8, 1440px 416px #7840f8, 1472px 416px #7840f8,
    1504px 416px #7840f8, 1536px 416px #7840f8, 480px 448px #7840f8,
    512px 448px #7e34ca, 544px 448px #8030ba, 576px 448px #7840f8,
    608px 448px #7840f8, 640px 448px #7840f8, 672px 448px #7840f8,
    704px 448px #7840f8, 736px 448px #7840f8, 768px 448px #7840f8,
    800px 448px #7840f8, 832px 448px #7840f8, 864px 448px #7840f8,
    896px 448px #7840f8, 928px 448px #7840f8, 960px 448px #7840f8,
    992px 448px #7840f8, 1024px 448px #7840f8, 1056px 448px #7840f8,
    1088px 448px #7840f8, 1120px 448px #7840f8, 1152px 448px #7840f8,
    1184px 448px #7840f8, 1216px 448px #7840f8, 1248px 448px #7840f8,
    1280px 448px #7840f8, 1312px 448px #7840f8, 1344px 448px #7840f8,
    1408px 448px #7840f8, 1440px 448px #7840f8, 1472px 448px #7840f8,
    1504px 448px #7840f8, 1536px 448px #7840f8, 448px 480px #7840f8,
    480px 480px #7840f8, 512px 480px #7840f8, 544px 480px #7840f8,
    576px 480px #7840f8, 608px 480px #7840f8, 640px 480px #7840f8,
    672px 480px #7840f8, 704px 480px #7840f8, 736px 480px #7840f8,
    768px 480px #7840f8, 800px 480px #7840f8, 832px 480px #7840f8,
    864px 480px #7840f8, 896px 480px #7840f8, 928px 480px #7840f8,
    960px 480px #7840f8, 992px 480px #7840f8, 1024px 480px #7840f8,
    1056px 480px #7840f8, 1088px 480px #7840f8, 1120px 480px #7840f8,
    1152px 480px #7840f8, 1184px 480px #7840f8, 1216px 480px #7840f8,
    1248px 480px #7840f8, 1280px 480px #7840f8, 1312px 480px #7840f8,
    1344px 480px #7840f8, 1376px 480px #7840f8, 1408px 480px #7840f8,
    448px 512px #7840f8, 480px 512px #7840f8, 512px 512px #7840f8,
    544px 512px #7840f8, 576px 512px #7840f8, 608px 512px #7840f8,
    640px 512px #7840f8, 672px 512px #7840f8, 704px 512px #7840f8,
    736px 512px #7840f8, 768px 512px #7840f8, 800px 512px #7840f8,
    832px 512px #7840f8, 864px 512px #7840f8, 896px 512px #7840f8,
    928px 512px #7840f8, 960px 512px #7840f8, 992px 512px #7840f8,
    1024px 512px #7840f8, 1056px 512px #7840f8, 1088px 512px #7840f8,
    1120px 512px #7840f8, 1152px 512px #7840f8, 1184px 512px #7840f8,
    1216px 512px #7840f8, 1248px 512px #7840f8, 1280px 512px #7840f8,
    1312px 512px #7840f8, 1344px 512px #7840f8, 1376px 512px #7840f8,
    672px 544px #7840f8, 704px 544px #7840f8, 736px 544px #7840f8,
    768px 544px #7840f8, 800px 544px #7840f8, 832px 544px #7840f8,
    864px 544px #7840f8, 896px 544px #7840f8, 928px 544px #7840f8,
    960px 544px #7840f8, 992px 544px #7840f8, 1024px 544px #7840f8,
    1056px 544px #7840f8, 1088px 544px #7840f8, 1120px 544px #7840f8,
    1152px 544px #7840f8, 1184px 544px #7840f8, 1216px 544px #7840f8,
    1248px 544px #7840f8, 1280px 544px #7840f8, 1312px 544px #7840f8,
    1344px 544px #7840f8, 1376px 544px #7840f8, 1408px 544px #7840f8,
    704px 576px #7840f8, 736px 576px #7840f8, 768px 576px #7840f8,
    800px 576px #7840f8, 832px 576px #7840f8, 864px 576px #7840f8,
    896px 576px #7840f8, 928px 576px #7840f8, 960px 576px #7840f8,
    992px 576px #7840f8, 1024px 576px #7840f8, 1056px 576px #7840f8,
    1088px 576px #7840f8, 1120px 576px #7840f8, 1152px 576px #7840f8,
    1184px 576px #7840f8, 1216px 576px #7840f8, 1248px 576px #7840f8,
    1280px 576px #7840f8, 1312px 576px #7840f8, 1344px 576px #7840f8,
    1376px 576px #7840f8, 1408px 576px #7840f8, 704px 608px #7840f8,
    736px 608px #7840f8, 768px 608px #7840f8, 800px 608px #7840f8,
    832px 608px #7840f8, 864px 608px #7840f8, 896px 608px #7840f8,
    928px 608px #7840f8, 960px 608px #7840f8, 992px 608px #7840f8,
    1024px 608px #7840f8, 1056px 608px #7840f8, 1088px 608px #7840f8,
    1120px 608px #7840f8, 1152px 608px #7840f8, 1184px 608px #7840f8,
    1216px 608px #7840f8, 1248px 608px #7840f8, 1280px 608px #7840f8,
    1312px 608px #7840f8, 1344px 608px #7840f8, 1376px 608px #7840f8,
    1408px 608px #7840f8, 736px 640px #7840f8, 768px 640px #7840f8,
    800px 640px #7840f8, 832px 640px #7840f8, 864px 640px #7840f8,
    896px 640px #7840f8, 928px 640px #7840f8, 960px 640px #7840f8,
    992px 640px #7840f8, 1024px 640px #7840f8, 1056px 640px #7840f8,
    1088px 640px #7840f8, 1120px 640px #7840f8, 1152px 640px #7840f8,
    1184px 640px #7840f8, 1216px 640px #7840f8, 1248px 640px #7840f8,
    1280px 640px #7840f8, 1312px 640px #7840f8, 1344px 640px #7840f8,
    1376px 640px #7840f8, 736px 672px #7840f8, 768px 672px #7840f8,
    800px 672px #7840f8, 832px 672px #7840f8, 864px 672px #7840f8,
    896px 672px #7840f8, 928px 672px #7840f8, 960px 672px #7840f8,
    992px 672px #7840f8, 1024px 672px #7840f8, 1056px 672px #7840f8,
    1088px 672px #7840f8, 1120px 672px #7840f8, 1152px 672px #7840f8,
    1184px 672px #7840f8, 1216px 672px #7840f8, 1248px 672px #7840f8,
    1280px 672px #7840f8, 1312px 672px #7840f8, 1344px 672px #7840f8,
    1376px 672px #7840f8, 768px 704px #7840f8, 800px 704px #7840f8,
    832px 704px #7840f8, 864px 704px #7840f8, 896px 704px #7840f8,
    928px 704px #7840f8, 960px 704px #7840f8, 992px 704px #7840f8,
    1024px 704px #7840f8, 1088px 704px #7840f8, 1120px 704px #7840f8,
    1152px 704px #7840f8, 1184px 704px #7840f8, 1216px 704px #7840f8,
    1248px 704px #7840f8, 1280px 704px #7840f8, 1312px 704px #7840f8,
    800px 736px #7840f8, 832px 736px #7840f8, 864px 736px #7840f8,
    896px 736px #7840f8, 928px 736px #7840f8, 960px 736px #7840f8,
    992px 736px #7840f8, 1024px 736px #7840f8, 1088px 736px #7840f8,
    1120px 736px #7840f8, 1152px 736px #7840f8, 1184px 736px #7840f8,
    1216px 736px #7840f8, 1248px 736px #7840f8, 1280px 736px #7840f8,
    800px 768px #7840f8, 832px 768px #7840f8, 864px 768px #7840f8,
    896px 768px #7840f8, 928px 768px #7840f8, 960px 768px #7840f8,
    992px 768px #7840f8, 1024px 768px #7840f8, 1056px 768px #7840f8,
    1120px 768px #7840f8, 1152px 768px #7840f8, 1184px 768px #7840f8,
    1216px 768px #7840f8, 1248px 768px #7840f8, 1280px 768px #7840f8,
    800px 800px #7840f8, 832px 800px #7840f8, 864px 800px #7840f8,
    896px 800px #7840f8, 928px 800px #7840f8, 960px 800px #7840f8,
    992px 800px #7840f8, 1024px 800px #7840f8, 1056px 800px #7840f8,
    1088px 800px #7840f8, 1184px 800px #7840f8, 1216px 800px #7840f8,
    1248px 800px #7840f8, 1280px 800px #7840f8, 800px 832px #7840f8,
    832px 832px #7840f8, 864px 832px #7840f8, 896px 832px #7840f8,
    960px 832px #7840f8, 992px 832px #7840f8, 1024px 832px #7840f8,
    1056px 832px #7840f8, 1088px 832px #7840f8, 1120px 832px #7840f8,
    1152px 832px #7840f8, 1184px 832px #7840f8, 1216px 832px #7840f8,
    1248px 832px #7840f8, 1280px 832px #7840f8, 1312px 832px #7840f8,
    800px 864px #7840f8, 832px 864px #7840f8, 864px 864px #7840f8,
    896px 864px #7840f8, 1024px 864px #7840f8, 1056px 864px #7840f8,
    1088px 864px #7840f8, 1120px 864px #7840f8, 1152px 864px #7840f8,
    1184px 864px #7840f8, 1248px 864px #7840f8, 1280px 864px #7840f8,
    1312px 864px #7840f8, 832px 896px #7840f8, 864px 896px #7840f8,
    896px 896px #7840f8, 928px 896px #7840f8, 1056px 896px #7840f8,
    1088px 896px #7840f8, 1120px 896px #7840f8, 1152px 896px #7840f8,
    1184px 896px #7840f8, 1216px 896px #7840f8, 1248px 896px #7840f8,
    1280px 896px #7840f8, 1312px 896px #7840f8, 1344px 896px #7840f8,
    864px 928px #7840f8, 896px 928px #7840f8, 928px 928px #7840f8,
    960px 928px #7840f8, 1088px 928px #7840f8, 1120px 928px #7840f8,
    1152px 928px #7840f8, 1184px 928px #7840f8, 1216px 928px #7840f8,
    1248px 928px #7840f8, 1280px 928px #7840f8, 1312px 928px #7840f8,
    896px 960px #7840f8, 928px 960px #7840f8, 960px 960px #7840f8,
    1056px 960px #7840f8, 1088px 960px #7840f8, 1120px 960px #7840f8,
    1152px 960px #7840f8, 1184px 960px #7840f8, 1024px 992px #7840f8,
    1056px 992px #7840f8, 1088px 992px #7840f8, 1120px 992px #7840f8,
    992px 1024px #7840f8, 1024px 1024px #7840f8, 1056px 1024px #7840f8,
    1088px 1024px #7840f8, 1120px 1024px #7840f8;

  display: block;
  margin-block-start: 6rem;
  margin-inline-start: -35rem;
  transform: scale(0.25);

  aspect-ratio: 1 / 1;
  width: 32px;

  box-shadow: var(--suicune-step1);

  animation-name: suicuneWalk;
  animation-duration: 600ms;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: step-start;
}

@keyframes suicuneWalk {
  0% {
    box-shadow: var(--suicune-step1);
  }
  25% {
    box-shadow: var(--suicune-step2);
  }
  50% {
    box-shadow: var(--suicune-step3);
  }
  75% {
    box-shadow: var(--suicune-step4);
  }
  100% {
    box-shadow: var(--suicune-step1);
  }
}

/* scale down png image to 64px */
/* pixel-to-css FILEPATH PIXELSIZE CLASSNAME */
/* e.g. pixel-to-css C:\Users\lenovo\Downloads\test4.png 32 suicune | clip */
/* https://codeworkshop.dev/blog/2020-08-09-pixel-art-with-css-box-shadows/ */
/* https://www.npmjs.com/package/pixel-to-css */
